.v-btn.v-btn--rounded.v-btn--variant-outlined.v-btn--rsk {
  &:hover {
    transition: all 0.5s ease;
    background-color: rgb(var(--v-theme-on-background));
    border-color: rgb(var(--v-theme-on-background));
    color: rgb(var(--v-theme-background));
  }

  &::after {
    opacity: 1;
    top: 4px;
    left: 4px;
    border-width: 1px;
    border-color: rgb(var(--v-theme-on-background));
    border-top-color: transparent;
    border-left-color: transparent;
  }
}

.v-btn.v-btn--rounded.v-btn--variant-flat.v-btn--rsk {
  color: rgb(var(--v-theme-background));
  border: 1px solid currentColor;
  background-color: rgb(var(--v-theme-on-background));
  box-shadow: 2px 2px rgba(var(--v-theme-on-background));

  &.v-btn--disabled {
    box-shadow: 2px 2px rgb(var(--v-theme-on-background), var(--v-disabled-opacity));
    border-color: rgb(var(--v-theme-background));
    border: 1px solid rgb(var(--v-theme-on-background));
    background-color: rgb(var(--v-theme-surface));
    color: rgb(var(--v-theme-on-background));
  }
}

.v-btn.v-btn--variant-text:hover {
  &>.v-btn__overlay {
    opacity: 0;
  }
}

.v-btn.v-btn--rounded.v-btn--variant-outlined.v-btn--square {
  border: 1px solid rgb(var(--v-theme-bw-500));
  border-radius: 10px;
  height: 250px;
  min-width: 250px;
  max-width: 250px;
  justify-content: flex-start;
}

.wallet-btn {
  transition: background-color 0.2s;
}

.wallet-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  .wallet-btn-label {
    color: rgb(var(--v-theme-on-background)) !important;
  }
}

.theme--dark .wallet-btn:hover {
  background-color: rgba(255, 255, 255, 0.08);
  .wallet-btn-label {
    color: rgb(var(--v-theme-on-background)) !important;
  }
}