.v-card--variant-outlined {
  border: 2px solid rgba(var(--v-border-color), var(--v-border-opacity));
  &.v-theme--light {
    background: rgba(var(--v-theme-bw-500), var(--v-hover-opacity));
    &.selected {
      background: rgba(var(--v-theme-surface));
    }
  }
  &.selected {
    border-color: rgba(var(--v-border-color), 1);
  }
}

.not-available {
  position: relative;
  .not-available-text {
    position: absolute;
    inset: 0;
    background-color: rgba(var(--v-theme-background), 0.5);
    backdrop-filter: blur(4px);
    opacity: 1;
    z-index: 1;
  }
}
.square-ratio {
  aspect-ratio: 1;
}
