.form {
    .text-body-sm {
        font-size: 12px;
        line-height: 120%;
        letter-spacing: 0%;
        font-weight: 500;
    }
    .text-body-details {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -1%;
    }
    .text-body-amount {
        font-weight: 700;
        font-size: 28px;
        line-height: 120%;
        letter-spacing: 0%;
    }
}