.transactions {
  h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  .label-network-main {
    width: 203px;
    height: 44px;
    padding-left: 50px;
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  h4 {
    font-weight: 500;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
  }

  div {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }

  p {
    margin: 0 !important;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
  }

  a {
    color: #000 !important;
    text-decoration: none;
  }

  p > a {
    font-size: inherit;
    font-weight: inherit;
    text-decoration: underline;
  }

  .subtitle {
    margin: 0px 0px 16px 0px !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }

  .box {
    border: 0.5px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 30px;
  }
  .confirmation-box {
    position: relative;
    border-radius: 30px;
    border: 0.5px solid #BFBFBF;
    box-sizing: border-box;
    legend {
      color: #C4C4C4;
      margin: 0 auto;
    }
  }
  .expand-btn-active {
    background-color: #000000 !important;
    border-color: transparent !important;
    .content {
      font-weight: 750;
      font-size: 15px;
      color: #FFFFFF !important;
    }
  }
  .expand-btn-inactive {
    background-color: #FFFFFF !important;
    border-color: #000000 !important;
    .content {
      font-weight: 750;
      font-size: 15px;
      color: #000000 !important;
    }
  }
  .mdi:before, .transactions .mdi-set {
    padding: 0;
  }
  .step{
    max-width: 40%;
  }
  .step-title{
    height: 110px;
    max-height: 110px;
  }
}

.legend {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #FFFFFF;
  padding-inline: 4px;
}
