.bg-blur {
  backdrop-filter: blur(2px);
}

.text-balance {
  text-wrap: balance;
}

.grecaptcha-badge {
  bottom:70px !important;
}

.opacity-100 {
  opacity: 1;
}

.the-text-h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.333;
  line-height: normal;
}