@import 'buttons.scss';
@import 'inputs.scss';
@import 'switch.scss';
@import 'cards.scss';
@import 'dialog.scss';
@import 'home.scss';
@import 'utilities.scss';

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.v-overlay__scrim {
  background-color: #000;
}
.v-chip {
  &.btc-icon .v-chip__prepend {
    color: rgb(var(--v-theme-orange));
  }
  .v-avatar.rbtc-icon {
    --v-avatar-height: 16px;
  }
}

.v-tooltip > .v-overlay__content {
  background-color: rgb(var(--v-theme-bw-700));
  color: white;
}
