@import 'buttons.scss';
@import 'inputs.scss';
@import 'switch.scss';
@import 'cards.scss';

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.v-overlay__scrim {
  background-color: #000;
}
.v-chip {
  &.btc-icon .v-chip__prepend {
    color: rgb(var(--v-theme-orange));
  }
}