.dialog {
  .container-extra {
    padding: 51px 81px 51px 81px;
  }
  .close-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .button {
    width: 141px !important;
    height: 50px !important;
    background: #000000 !important;
    border-radius: 30px !important;
    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #fff !important;
    }
  }

  h1 {
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #000000;
  }

  h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
  }

  .black-box {
    padding: 10px 0 0 10px;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .pop-up-title {
    font-size: 30px !important;
    color: #000000 !important;
    font-weight: bold !important;
  }

  .pop-up-subtitle {
    font-size: 15px !important;
    font-weight: bold !important;
  }

  .pop-up-sign-field {
    font-size: 15px;
    color: #666666;
    text-align: center;
    border: 1px solid #c4c4c4;
    padding: 10px;
    padding-bottom: 30px;
    padding-right: 40px;
  }
}
