.drawer {
  display: inline-block !important;
  vertical-align: middle !important;

  div, p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #A2ADDB;
  }

  .number {
    width: 23px;
    height: 23px;
    border: 1px solid #A2ADDB;
    border-radius: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
