.exchange {
  div p {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
  }

  .ledger-icon {
    width: 130px;
    height: 195px;
    background: url('../assets/wallet-icons/ledger.png') no-repeat !important;
    display: inline-block;
  }
  .ledger-icon:hover {
    background: url('../assets/wallet-icons/ledger-white.png') no-repeat;
  }

  .wallet-button {
    width: 209px !important;
    height: 101px !important;
    margin: 20px 0 20px 0;
    background-color: #FFFFFF !important;
    border-radius: 20px !important;
    border: 1px solid #00B520 !important;
    .wallet-button-content {
      color: #00B520 !important;
    }
  }
  .wallet-button:hover {
    background-color: #00B520 !important;
    .wallet-button-content {
      color: #FFFFFF !important;
    }
  }
  .wallet-button:focus {
    .wallet-button-content {
      color: #FFFFFF !important;
    }
  }

  .wallet-button-thin {
    width: 166px !important;
    height: 62px !important;
    margin: 16px 0 16px 0;
    padding: 0 30px 0 30px !important;
    background-color: #FFFFFF !important;
    border-radius: 20px !important;
    border: 1px solid #00B520 !important;
    .wallet-button-content {
      color: #00B520 !important;
    }
  }
  .wallet-button-thin:hover {
    background-color: #00B520 !important;
    .wallet-button-content {
      color: #FFFFFF !important;
    }
  }
  .wallet-button-thin:focus {
    //background-color: #01941B !important;
    .wallet-button-content {
      color: #FFFFFF !important;
    }
  }

  .selected {
    background-color: #00B520 !important;
    border-color: transparent !important;
    .wallet-button-content {
      color: #FFFFFF !important;
    }
  }
}
