.exchange-form {
  margin-top: 20px !important;

  h1 {
    font-size: 36px;
    line-height: 45px;
    color: #000000;
  }

  h2 {
    font-size: 20px;
    line-height: 25px;
    color: #000000;
  }

  p {
    font-size: 20px;
    line-height: 25px;
    color: #000;
    margin-bottom: 0 !important;
  }

  span {
    font-size: 13px;
    line-height: 17px;
    color: #737778;
  }

  .v-btn__content {
    color: inherit !important;
    span {
      color: inherit;
    }
  }

  .note {
    background: rgba(162, 173, 219, 0.1);
    border: 1px solid #A2ADDB;
    box-sizing: border-box;
    border-radius: 5px;
    padding-left: 10px;

    p {
      font-size: 12px;
      line-height: 14px;
      color: #6F7591;
    }
  }

  .divider {
    border-left: 0.5px solid #BFBFBF;
  }

  .account {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #00B43C;
  }

  .v-slider__tick-label {
    font-weight: bold;
    color: #737778;
  }

  .input-box-outline {
    padding: 0 !important;
    background: #ECF7FC;
    border: 1px solid #008CFF;
    box-sizing: border-box;
    border-radius: 5px;
    .flat {
      background: #ECF7FC;
      box-sizing: border-box;
    }
    height: 37px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;

    .v-text-field fieldset, .v-text-field .v-input__control, .v-text-field .v-input__slot {
      margin: 0 !important;
      height: 33px !important;
      min-height: 35px !important;
      background: #ECF7FC !important;
    }

    input::-webkit-inner-spin-button {
      display: none !important;
      -webkit-appearance: none !important;
      margin: 0 !important;
    }

    input {
      text-align: center !important;
    }
  }

  .yellow-box {
    border: 1px solid #F6C61B !important;
  }

  .blue-box {
    border: 1px solid #008CFF !important;
  }

  .green-box {
    border: 1px solid #00B43C !important;
  }

  .input-box-flat {
    background: #fff;
    box-sizing: border-box;
    height: 37px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;

    .v-text-field fieldset, .v-text-field .v-input__control, .v-text-field .v-input__slot {
      padding: 0 !important;
      margin: 0 !important;
      height: 32px !important;
      min-height: 34px !important;
      background: #fff !important;
    }

    input::-webkit-inner-spin-button {
      display: none !important;
      -webkit-appearance: none !important;
      margin: 0 !important;
    }

    input {
      text-align: center !important;
    }
  }

  .summary-box {
    border: 0.5px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 30px;
    background: #fff;

    h1 {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
    }

    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #000;
      margin: 0 !important;
    }

    span {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #C4C4C4;
    }

    .v-text-field fieldset, .v-text-field .v-input__control, .v-text-field .v-input__slot {
      padding: 0 !important;
      margin: 0 !important;
      height: 34px !important;
      min-height: 36px !important;
    }

    input::-webkit-inner-spin-button {
      display: none !important;
      -webkit-appearance: none !important;
      margin: 0 !important;
    }

    input {
      text-align: center !important;
    }
  }
}

.tooltip-form {
  margin: 0;
  padding: 0px 0px;
  color: white;
  font-size: 14px;
}

.account-select {
  .v-select__selection {
    font-size: 13px;
  }
}

.amount-input {
  font-size: 13px !important;
}

.wallet-label-container {
  padding: 12px 6px 12px 12px !important;
  label {
    font-size: 13px !important;
  }
  .label-title {
    font-size: 13px;
  }
  .wallet-address-input {
    font-size: 13px;
    .v-input__slot {
      padding: 0 5px !important;
    }
  }
}

.select-wallet-button {
  font-size: 13px;
}

.label-liquality {
  font-size: 14px !important;
}
