.exchange {
  div p {
    font-size: 18px;
    line-height: 23px;
    color: #000;
  }

  .title-landing {
    font-size: 75px;
    font-family: Rootstock, sans-serif;
    padding: 0 1px 20px 0;
  }

  h3 {
    font-family: Rootstock, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #B5CAB8;
  }

  fieldset {
    width: 100%;
  }

  .wallet-button-disabled {
    width: 209px !important;
    height: 101px !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #B5CAB8 !important;
  }

  .wallet-button {
    width: 209px !important;
    height: 101px !important;

    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #000000 !important;
    .wallet-button-content {
      color: #000000 !important;
    }
  }

  .wallet-button:hover {
    background-color: #000000 !important;
    .wallet-button-content {
      color: #fff !important;
    }
  }

  .wallet-button:focus {
    .wallet-button-content {
      color: #fff !important;
    }
  }

  .wallet-button-low {
    width: 180px !important;
    height: 25px !important;

    background-color: #fff;
    border-radius: 20px !important;
    border: 1px solid #000000!important;
    .wallet-button-content {
      color: #000000!important;
    }
  }
  
  .wallet-button-low:hover {
    background-color: #000000!important;
    color: #fff !important;
  }

  .wallet-button-low:focus {
      color: #fff !important;
  }

  .wallet-button-thin-disabled {
    width: 166px !important;
    height: 62px !important;
    padding: 0 30px 0 30px !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #B5CAB8 !important;
    .wallet-button-content {
      color: #B5CAB8 !important;
    }
  }

  .wallet-button-back {
    width: 180px !important;
    height: 25px !important;
    min-width: 64px !important;
    padding: 0 16px 15px 10px !important;

    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #000000!important;
    .wallet-button-content {
      color: #000000!important;
    }
  }

  .wallet-button-thin {
    width: 166px !important;
    height: 62px !important;
    padding: 0 30px 0 30px !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #000000 !important;
    .wallet-button-content {
      color: #000000 !important;
    }
    &:hover {
      background-color: #000000 !important;
      .wallet-button-content {
        color: #fff !important;
      }
      .wallet-icon {
        background-image: url('../assets/wallet-icons/trezor-white.png');
      }
      .wallet-icon-ledger{
        background-image: url('../assets/wallet-icons/ledger-white.png');
      }
      .wallet-icon-liquality {
        background-image: url('../assets/wallet-icons/liquality-white.png');
      }
    }
    &:focus {
      .wallet-button-content {
        color: #fff !important;
      }
      .wallet-icon {
        background-image: url('../assets/wallet-icons/trezor-white.png');
      }
      .wallet-icon-ledger{
        background-image: url('../assets/wallet-icons/ledger-white.png');
      }
      .wallet-icon-liquality {
        background-image: url('../assets/wallet-icons/liquality-white.png');
      }
    }
    .wallet-icon {
      background-repeat: no-repeat;
      width: 25px;
      height: 34px;
      position: relative;
      padding: 5px 0 0 10px;
      background-image: url('../assets/wallet-icons/trezor.png');
    }
    .wallet-icon-ledger{
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      position: relative;
      padding: 5px 0 0 10px;
      background-image: url('../assets/wallet-icons/ledger.png');
    }
    .wallet-icon-liquality {
      background-repeat: no-repeat;
      position: relative;
      max-width: 80px;
      max-height: 25px;
      padding: 25px 0 0 80px;
      background-image: url('../assets/wallet-icons/liquality.png');
    }
  }

  .return-to-form-button {
    background-color: #fff !important;
    .return-to-form-button-content {
      color: #000000 !important;
    }
    &:hover {
      background-color: #000000 !important;
      .return-to-form-button-content {
        color: #fff !important;
      }
    }
  }

  .selected {
    background-color: #000000 !important;
    border-color: transparent !important;
    .wallet-button-content {
      color: #fff !important;
    }
    .wallet-icon {
      background-image: url('../assets/wallet-icons/trezor-white.png');
    }
    .wallet-icon-ledger{
      background-image: url('../assets/wallet-icons/ledger-white.png');
    }
    .wallet-icon-liquality {
      background-image: url('../assets/wallet-icons/liquality-white.png');
    }
  }

  #connect-device-steps {
    max-width: 475px;
  }

  .v-divider--vertical {
    margin: 0 -1px;
  }

  .breakable-address {
    word-break: break-all;
  }

  .tracking-box {
    flex: none;
    width: 700px;
  }
}


.custom-tooltip {
  position: relative;
  display: inline-block;
}

.custom-tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #666666;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  margin-top: 5px;
  margin-left: 44px;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.custom-tooltip:hover .tooltiptext {
  visibility: visible;
}

.btn-focus-out:focus::before {
  background: none !important;
  box-shadow: none;
  outline: none;
}

.icon-left {
  align-items: left !important;
  justify-content: left !important;
}

.line-box-bottom {
  border-bottom: 1px solid #c4c4c4;
}

.liquality-info {
  width:100%;
  h3 {
    position:relative;
    top:25%;
  }
  .wallet-tag {
    float:right;
    border-radius:5px;
    padding:8px;
    background-color:green;
    color:white;
    font-weight:bold;
  }
}
