.exchange {
  div p {
    font-size: 18px;
    line-height: 23px;
    color: #000;
  }

  h3 {
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #B5CAB8;
  }

  fieldset {
    width: 100%;
  }

  .wallet-button-disabled {
    width: 209px !important;
    height: 101px !important;
    margin: 20px 0 20px 0;
    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #B5CAB8 !important;
  }

  .wallet-button {
    width: 209px !important;
    height: 101px !important;
    margin: 20px 0 20px 0;
    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #00B520 !important;
    .wallet-button-content {
      color: #00B520 !important;
    }
  }
  .wallet-button:hover {
    background-color: #00B520 !important;
    .wallet-button-content {
      color: #fff !important;
    }
  }
  .wallet-button:focus {
    .wallet-button-content {
      color: #fff !important;
    }
  }

  .wallet-button-thin-disabled {
    width: 166px !important;
    height: 62px !important;
    margin: 16px 0 16px 0;
    padding: 0 30px 0 30px !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #B5CAB8 !important;
    .wallet-button-content {
      color: #B5CAB8 !important;
    }
  }

  .wallet-button-thin {
    width: 166px !important;
    height: 62px !important;
    margin: 16px 0 16px 0;
    padding: 0 30px 0 30px !important;
    background-color: #fff !important;
    border-radius: 20px !important;
    border: 1px solid #00B520 !important;
    .wallet-button-content {
      color: #00B520 !important;
    }
    &:hover {
      background-color: #00B520 !important;
      .wallet-button-content {
        color: #fff !important;
      }
      .wallet-icon {
        background-image: url('../assets/wallet-icons/trezor-white.png');
      }
      .wallet-icon-ledger{
        background-image: url('../assets/wallet-icons/ledger-white.png');
      }
    }
    &:focus {
      .wallet-button-content {
        color: #fff !important;
      }
      .wallet-icon {
        background-image: url('../assets/wallet-icons/trezor-white.png');
      }
      .wallet-icon-ledger{
        background-image: url('../assets/wallet-icons/ledger-white.png');
      }
    }
    .wallet-icon {
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      position: relative;
      padding: 5px 0 0 10px;
      background-image: url('../assets/wallet-icons/trezor.png');
    }
    .wallet-icon-ledger{
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      position: relative;
      padding: 5px 0 0 10px;
      background-image: url('../assets/wallet-icons/ledger.png');
    }
  }

  .return-to-form-button {
    background-color: #fff !important;
    .return-to-form-button-content {
      color: #00B520 !important;
    }
    &:hover {
      background-color: #00B520 !important;
      .return-to-form-button-content {
        color: #fff !important;
      }
    }
  }

  .selected {
    background-color: #00B520 !important;
    border-color: transparent !important;
    .wallet-button-content {
      color: #fff !important;
    }
  }

  #connect-device-steps {
    max-width: 475px;
  }

  .v-divider--vertical {
    margin: 0 -1px;
  }

  .breakable-address {
    word-break: break-all;
  }

  .tracking-box {
    flex: none;
    width: 700px;
  }
}
