@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

div, p, h1, h2, h3, h4, h5, h6, body, button {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

.v-overlay {
  z-index: 0 !important;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #00B520;
}

h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 138.27%;
  color: #00B520;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #00B520;
}

.custom-background {
  background: #FFF;
}

.number {
  width: 23px;
  height: 23px;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #00B520;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  color: #000000 !important;
}

.number-filled {
  width: 23px;
  height: 23px;
  font-size: 12px;
  line-height: 15px;
  border: 1px solid #00B520;
  box-sizing: border-box;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  background: #00B520;
  color: #FFFFFF !important;
}

.v-btn {
  letter-spacing: normal !important;
  text-transform: none !important;
  box-shadow: none !important;
}

.v-card {
  border-radius: 20px !important;
}

.v-dialog {
  border-radius: 20px !important;
}

.v-tooltip {
  border-radius: 20px !important;
}

.shadow {
  text-shadow: 1px 1px 1px #000;
}

.boldie {
  font-weight: bold !important;
}

.blackish {
  color: #000000 !important;
}

.whiteish {
  color: #FFFFFF !important;
}

.greenish {
  color: #00B520 !important;
}

.grayish {
  color: #C4C4C4 !important;
}

.blueish {
  color: #008CFF !important;
}

.ligth-grayish {
  color: #F5FAFF !important;
}
