@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

div, p, h1, h2, h3, h4, h5, h6, body, button {
  font-family: 'Quicksand', sans-serif;
  font-style: normal;
}

h1 {
  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  color: #00B520;
}

p {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #00B520;
}

.custom-background {
  background: #FFF;
}

.number {
  width: 26px;
  height: 26px;
  border: 1px solid #A2ADDB;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1732A4;
}

.v-btn {
  letter-spacing: normal !important;
  text-transform: none !important;
}

.v-card {
  border-radius: 20px !important;
}

.v-tooltip {
  border-radius: 20px !important;
}

.shadow {
  text-shadow: 1px 1px 1px #000;
}

.blackish {
  color: #000000 !important;
}

.whiteish {
  color: #FFFFFF !important;
}

.greenish {
  color: #23CB7D !important;
}

.grayish {
  color: #F5FAFF !important;
}
