.transactions {
  h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  h2 {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #000000;
  }

  h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000;
  }

  h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #000000;
  }

  h6 {
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    color: #C4C4C4;
  }

  div {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000;
  }

  p {
    margin: 0 !important;
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #00B43C;
  }

  a {
    color: #000 !important;
    text-decoration: none;
  }

  .error-message {
    font-size: 20px;
  }

  .icon-alert {
    .v-icon.v-icon{
      font-size: 70px !important;
    }
  }

  .number {
    width: 23px;
    height: 23px;
    font-size: 12px;
    line-height: 19px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid #000000;
    color: #000 !important;
    margin: 0px 5px 0px 0px;
    padding: 0;
    flex: none;
  }

  .box {
    border: 0.5px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 30px 20px;

    .box-field {
      margin: 10px 5px !important;
    }
    
    .box-col {
      padding: 0px 5px !important;
    }

    .col {
      padding: 0px;
    }

    .row {
      margin: 0px;
    }

    .status-title {
      span {
        font-size: 24px;
        color: #000;
        font-weight: bold;
        padding-left: 2px;
        padding-right: 2px;
        padding-bottom: 25px;
      }
    }
    
    .status-subtitle {
      color: #000;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 5px;
    }
  }

  .mdi:before, .mdi-set {
    display: inline-block;
    font: normal normal normal 24px/1 "Material Design Icons";
    font-size: inherit;
    text-rendering: auto;
    line-height: inherit;
    padding: 0px 0px 4px 3px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .status {
    font-family: Quicksand, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
  }
  .statusProgress {
    color: #008CFF;
  }
  .statusSuccess {
    color: #00B43C;
  }
  .statusRejected {
    color: #F6C61B;
  }

  .rounded {
    border: 3px solid #000;
    box-sizing: border-box;
    border-radius: 50%;
    width: 78px;
    height: 78px;
  }

  .rounded-disabled{
    border: 3px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 50%;
    width: 78px;
    height: 78px;
  }

  .rounded-reject {
    border: 3px solid #F6C61B;
    box-sizing: border-box;
    border-radius: 50%;
    width: 78px;
    height: 78px;
  }

  .progress-bar {
    height: 80px;
    h1 {
      font-family: Quicksand, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #737778;
    }
  }
  .v-divider--vertical {
    margin: 0 -1px;
  }

  .breakable-address {
    word-break: break-all;

    .refresh-btn {
      color: white;
    }
  }
  .confirmations-message {
    height: 12px;
    width: 100%;
  }
  .img-progress-bar {
    height: 75px;
    width: 75px;
    z-index: 5 !important;
    position: absolute;
    margin-top: -30px;
    margin-right: 70px;
    background-color: white;
    border-radius: 50%;
  }
  .breakable-address {
    word-break: break-all;
  }

  .status-text-field-error.theme--light.v-text-field--outlined:not(.v-input--is-focused):not(.v-input--has-state)
  > .v-input__control
  > .v-input__slot
  fieldset {
    color: #F6C61B;
  }

  .status-text-field-error.theme--light.v-text-field--outlined
  > .v-input__control
  > .v-input__slot
  fieldset {
    color: #F6C61B;
  }

}

.bitcoin-icon-yellow {
  z-index: 2;
  position: absolute;
  margin-right: -100px;
  margin-top: -30px;
}

.bitcoin-icon-green {
  z-index: 5;
  position: absolute;
  margin-left: -75px;
  margin-top: -30px;
}

.rbtc-icon-green {
  z-index: 5;
  position: absolute;
  margin-right: -75px;
  margin-top: -75px;
}

.rsk-icon-green {
  z-index: 5; 
  position: absolute;
  margin-left: -75px;
  margin-top: -30px;
}

.confirm-percentage {
  z-index: 0;
}

.liquality-info-container {
  width: 100%;
  h3 {
    position:relative;
    top:25%;
  }
  .chip {
    float:right;
    border-radius:5px;
    padding:8px;
    background-color:green;
    color:white;
    font-weight:bold;
  }
}

.summary-container {
  max-width: 900px;
}

.status-text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box-pegin { 
  display: flex;
  flex-direction: column;

  .title-container {
    width: 100%;
  }

  .rsk-col {
    order: 3;
  }

  .v-divider {
    order: 2;
  }

  .bitcoin-col {
    order: 1;
  }

}

.box-pegout { 
  display: flex;
  flex-direction: column;

  .title-container {
    width: 100%;
  }

  .bitcoin-col {
    order: 3;
  }

  .v-divider {
    order: 2;
  }

  .rsk-col {
    order: 1;
  }
}


.btc-circle {
  width: 23px;
  height: 23px;
  position: relative;
  left: 195px;
  bottom: 21px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.rsk-circle {
  width: 23px;
  height: 23px;
  position: relative;
  left: 107px;
  bottom: 21px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.first-pegout-circle {
  left: 60px !important;
  bottom: 2px !important;
  z-index: 1000;
}

.second-pegout-circle {
  left: 200px !important;
  bottom: 2px !important;
  z-index: 1000;
}

.third-pegout-circle {
  left: 400px !important;
  bottom: 2px !important;
  z-index: 1000;
}

.circle-green {
  background: #5FDA23;
}

.circle-blue {
  background: #04679F;
}

.circle-gray {
  background: #F4F1F1;
  border-radius: 1px solid #D9D9D9;
}

.progress-bar-status {
  .v-progress-linear__background {
    opacity: 80% !important;
    background: #D9D9D9 !important;
  }
}

.subtitle-progress-status {
  color:#5FDA23;
}

.icon-status-image::after {
  content: "";
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}

.icon-btc-image::after {
  left: -62px;
}

.icon-btc-image-pegout::after {
  left: -41px;
}

.icon-rootstock-image::after {
  left: -11px;
}

.icon-rbtc-image::after {
  left: -40px;
}

.icon-btc-image-reject::after {
  left: -80px;
}

.icon-rootstock-image-reject::after {
  left: -40px;
}

.icon-status-border-green::after {
  border: 3px solid #9CE07B !important;
}

.icon-status-border-blue::after {
  border: 3px solid #3D7DA1 !important;
}

.icon-status-border-gray::after {
  border: 3px solid #D9D9D9 !important;
}

.icon-status-border-yellow::after {
  border: 3px solid #F6C61B !important;
}

.title-reject {
  font-size:26px !important;
  font-weight: bold !important;
  color: #F6C61B !important;
  padding: 5px 0px;
}
