.top {
  a {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #1732A4 !important;
    text-decoration: none !important;
  }

  a:hover {
    font-weight: bold;
  }

  a:focus {
    font-weight: bold;
  }
}
