@forward 'vuetify/settings' with (
  $body-font-family: "Rootstock",
  $typography: (
    "h1": (
      "size": 4.5rem,
      "line-height": 0.8,
      "weight": 700,
    ),
    "h2": (
      "size": 24px,
      "line-height": 32px,
      "weight": 700,
    ),
    'h3': (
      'size': 2rem,
      'weight': 700,
      'line-height': 0.8,
    ),
    'h4': (
      'size': 1.5rem,
      'weight': 700,
      'line-height': 1,
    ),
    'h5': (
      'size': 32px,
      'weight': 700,
      'line-height': 1,
      'padding': 2px 4px 6px 4px,
      'letter-spacing': -0.024em,
      'text-align': right,
      'gap': 1,
    ),
    'h6': (
      'size': 0.75,
      'weight': 700,
      'line-height': 26.4px,
      'padding': 2px 4px 6px 4px,
      'gap': 1,
      'letter-spacing': -0.024em,
      'text-align': left,
    ),
    "body-1": (
      "line-height": 1.4,
    ),
    'body-2': (
      'size': 0.75rem,
    ),
    "button": (
      "size": 0.875rem,
      "line-height": 1,
      "letter-spacing": normal,
      "text-transform": none,
    )
  ),
  $select-content-elevation: 0,
);

@font-face {
  font-family: "Rootstock";
  src:
    local("Rootstock"),
    url("@/common/styles/fonts/Rootstock-Sans-Tags.woff2") format("woff2");
}
