@forward 'vuetify/settings' with (
  $body-font-family: "Rootstock",
  $typography: (
    "h1": (
      "size": 4.5rem,
      "line-height": 0.8,
      "weight": 700,
    ),
    'h3': (
      'size': 2rem,
      'weight': 700,
      'line-height': 0.8,
    ),
    "body-1": (
      "line-height": 1.4,
    ),
    "button": (
      "text-transform": none,
    )
  )
);

@font-face {
  font-family: "Rootstock";
  src: 
    local("Rootstock"),
    url("@/common/styles/fonts/Rootstock-Sans-Tags.woff2") format("woff2");
}
