name: 2wp-app deploy UI for staging TestNet

on:
  push:
    branches:
      - qa

jobs:
  checkout-and-build:
    runs-on: ubuntu-latest
    environment: staging-testnet
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Get tag name.
        id: get_tag_name
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: qa

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build site
        run: >
          VUE_APP_COIN='test'
          VUE_APP_MANIFEST_EMAIL='user@rsk.co'
          VUE_APP_HOTJAR_ID=${{ secrets.STAGING_TESTNET_VUE_APP_HOTJAR_ID }}
          VUE_APP_CLARITY_ID=${{ secrets.STAGING_TESTNET_VUE_APP_CLARITY_ID }}
          VUE_APP_MANIFEST_APP_URL='https://powpeg.staging-testnet.rootstock.io'
          VUE_APP_API_BASE_URL='https://api.2wp.staging-testnet.rootstock.io'
          VUE_APP_RSK_NODE_HOST='https://public-node.testnet.rsk.co'
          VUE_APP_RSK_EXPLORER='https://explorer.testnet.rootstock.io/'
          VUE_APP_WALLET_ADDRESSES_HARD_STOP=100
          VUE_APP_WALLET_ADDRESS_PER_CALL=20
          VUE_APP_PEGOUT_MIN_AMOUNT_ALLOWED_IN_RBTC=0.004
          VUE_APP_PEGIN_MIN_AMOUNT_ALLOWED_IN_BTC=0.005
          VUE_APP_LBC_ADDRESS='0xc2A630c053D12D63d32b025082f6Ba268db18300'
          npm run-script build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.STAGING_TESTNET_ROLE_ARN }}
          aws-region: us-east-1

      - name: Deploy site to S3
        run: |
          aws s3 sync --delete --only-show-errors dist/ ${{ secrets.STAGING_TESTNET_S3_BUCKET }}

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.STAGING_TESTNET_CLOUDFRONT_DISTRIBUTION }} --paths "/*"
