name: 2wp-app deploy UI for staging TestNet

on:
  push:
    branches:
      - '*-qa1'

jobs:
  checkout-and-build:
    runs-on: ubuntu-latest
    steps:
      - name: Get tag name.
        id: get_tag_name
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ steps.get_tag_name.outputs.VERSION }}

      - name: Setup NodeJS
        uses: actions/setup-node@v2
        with:
          node-version: '14'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build site
        run: >
          VUE_APP_COIN='test'
          VUE_APP_MANIFEST_EMAIL='user@rsk.co'
          VUE_APP_MANIFEST_APP_URL='https://app.2wp.staging-testnet.rootstock.io'
          VUE_APP_API_BASE_URL='https://api.2wp.staging-testnet.rootstock.io'
          VUE_APP_RSK_NODE_HOST='https://public-node.testnet.rsk.co'
          VUE_APP_RSK_EXPLORER='https://explorer.testnet.rsk.co/'
          VUE_APP_WALLET_ADDRESSES_PER_CALL_TREZOR=10
          VUE_APP_WALLET_MAX_CALLS_TREZOR=1
          VUE_APP_WALLET_ADDRESSES_PER_CALL_LEDGER=2
          VUE_APP_WALLET_MAX_CALLS_LEDGER=8
          VUE_APP_WALLET_ADDRESSES_PER_CALL_LIQUALITY=10
          VUE_APP_WALLET_MAX_CALLS_LIQUALITY=1
          npm run-script build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.STAGING_TESTNET_AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.STAGING_TESTNET_AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Deploy site to S3
        run: |
          aws s3 sync --delete --only-show-errors dist/ ${{ secrets.STAGING_TESTNET_S3_BUCKET }}

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.STAGING_TESTNET_CLOUDFRONT_DISTRIBUTION }} --paths "/*"
