name: 2wp-app deploy UI for staging MainNet

on:
  push:
    branches:
      - 'release-candidate'

# Declare default permissions as read only.
permissions: read-all

jobs:
  checkout-and-build:
    runs-on: ubuntu-latest
    environment: staging-mainnet
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Get tag name.
        id: get_tag_name
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Checkout
        uses: actions/checkout@163217dfcd28294438ea1c1c149cfaf66eec283e # v4.2.1
        with:
          ref: release-candidate

      - name: Setup NodeJS
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af #v4.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build site
        run: >
          VUE_APP_COIN='main'
          VUE_APP_MANIFEST_EMAIL='user@rsk.co'
          VUE_APP_HOTJAR_ID=${{ secrets.STAGING_MAINNET_VUE_APP_HOTJAR_ID }}
          VUE_APP_CLARITY_ID=${{ secrets.STAGING_MAINNET_VUE_APP_CLARITY_ID }}
          VUE_APP_MANIFEST_APP_URL='https://powpeg.staging.rootstock.io'
          VUE_APP_API_BASE_URL='https://api.2wp.staging.rootstock.io'
          VUE_APP_RSK_NODE_HOST='https://public-node.rsk.co'
          VUE_APP_RSK_EXPLORER='https://explorer.rootstock.io/'
          VUE_APP_WALLET_ADDRESSES_HARD_STOP=100
          VUE_APP_WALLET_ADDRESS_PER_CALL=20
          VUE_APP_PEGOUT_MIN_AMOUNT_ALLOWED_IN_RBTC=0.004
          VUE_APP_PEGIN_MIN_AMOUNT_ALLOWED_IN_BTC=0.005
          VUE_APP_FAST_MINING_BLOCK=1
          VUE_APP_AVERAGE_MINING_BLOCK=3
          VUE_APP_SLOW_MINING_BLOCK=5
          VUE_APP_LBC_ADDRESS='0xAA9cAf1e3967600578727F975F283446A3Da6612'
          VUE_APP_FLYOVER_PEGOUT_QUOTE_DIFF_PERCENTAGE=2
          VUE_APP_RECAPTCHA_NEW_TOKEN_TIME=30
          VUE_APP_FLYOVER_PROVIDER_ID=2
          VUE_APP_CSP=https://lps.tekscapital.com
          VUE_APP_API_RESPONSE_TIMEOUT=10000
          npm run-script build

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@f24d7193d98baebaeacc7e2227925dd47cc267f5 # v4.2.0
        with:
          role-to-assume: ${{ secrets.STAGING_MAINNET_ROLE_ARN }}
          aws-region: us-east-1

      - name: Deploy site to S3
        run: |
          aws s3 sync --delete --only-show-errors dist/ ${{ secrets.STAGING_MAINNET_S3_BUCKET }}

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ secrets.STAGING_MAINNET_CLOUDFRONT_DISTRIBUTION }} --paths "/*"
